<h2 style="color: #064124; font-size: 40px; margin: 60px 0px;"><strong>Forgot your password?</strong></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", class:"forgotpass-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
