<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#mybookings">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#requests">Requests for your cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#settings">Your car settings</a>
  </li>
</ul>

<div class="tab-content">



  <div id="mybookings" class="tab-pane active">
    <% @my_bookings.each do |booking| %>
      <div class="car-booking">
          <%= cl_image_tag booking.car.photo.key, id: "car-img"%>
        <div class="car-booking-infos">
          <h4><%= booking.car.brand %> <%= booking.car.model %></h4>
          <h6><strong><%= booking.start_date %></strong> until <strong><%= booking.end_date %></strong> </h6>
          <h6>Total period : <%= (booking.end_date.to_date - booking.start_date.to_date).to_i  %> days.</h6>
          <h6>Price : <%= (((booking.end_date.to_date - booking.start_date.to_date).to_i ) * booking.car.price_day).to_i %>€ </h6>
        </div>
        <div style="margin-left :25px ">
          <h6><strong>Booking status : <i class="far fa-clock"></i> <%= booking.status %> </strong> </h6>
        </div>
        <div style="margin-left: 500px">
          <% if booking.review.nil? %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking-<%= booking.id %>">
            Review this booking
          </button>
          <% else %>
            <p>Review already submitted</p>
          <% end %>
        </div>
      </div>



      <div class="modal fade" id="booking-<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for (@review) do |f| %>
                <%= f.hidden_field :booking_id, value: booking.id %>
                <%= f.input :comment %>
                <%= f.input :rating, collection: 1..5 %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit "Review" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>



  <div id="requests" class="tab-pane">
    <% @all_bookings.each do |booking| %>
      <% if current_user == booking.car.user %>
        <div class="car-booking">
          <%= cl_image_tag booking.car.photo.key, id: "car-img"%>
          <div class="car-booking-infos">
            <h4><%= booking.car.brand %> <%= booking.car.model %></h4>
            <h6><strong><%= booking.start_date %></strong> until <strong><%= booking.end_date %></strong> </h6>
            <h6>Total period : <%= (booking.end_date.to_date - booking.start_date.to_date).to_i  %> days.</h6>
            <h6>Price : <%= (((booking.end_date.to_date - booking.start_date.to_date).to_i ) * booking.car.price_day).to_i %>€ </h6>
          </div>
          <div style="margin-left :25px ">
            <h6><strong>DO YOU ACCEPT THIS BOOKING ?  </strong> </h6>
            <button class="btn btn-outline-success">YES</button>
            <button class="btn btn-outline-danger">NO</button>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="settings" class="tab-pane">
  </div>



</div>
