<h1>Mes cares:</h1>
<div class="px-4">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-car">
        <div>
          <%= link_to car_path(car) do %>
          <%= image_tag "https://d39a3h63xew422.cloudfront.net/wp-content/uploads/2018/05/20040149/Autoleven-Roelofs-Engineering-1964-Ferrari-250-GTO-Replica-25-2880x1920.jpg", class: "card-car-img" %>
          <% end %>
        </div>

        <div class="card-car-infos">
          <div>
            <h6><%= car.year %> <%= car.brand %> <%= car.model %></h6>
            <% 5.times do %>
             <i class="far fa-star"></i>
            <% end %>

          </div>
          <p class="card-car-pricing"><strong>£<%= car.price_day %></strong>/Day</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

