<div class="px-4">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-car">
        <div>
          <%= link_to car_path(car) do %>
          <%= cl_image_tag car.photo.key, class: "card-car-img" %>
          <% end %>
        </div>

        <div class="card-car-infos">
          <div>
            <h6><%= car.year %> <%= car.brand %> <%= car.model %></h6>
            <% 5.times do %>
             <i class="far fa-star"></i>
            <% end %>
          </div>
          <p class="card-car-pricing"><strong><%= car.price_day.to_i %>€</strong>/Day</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

