<div class="px-5 pt-5">
  <div class="car-overview mb-2">
    <h1 class="title" style="margin-bottom: 40px; font-size: 60px; font-weight: bold">
      <%= @car.year %> <%= @car.brand %> <%= @car.model %>
    </h1>
  </div>
  <div class="w-75 mr-auto ml-auto">
    <div  class="img-cont mb-4">
      <%= cl_image_tag @car.photo.key, class:"car-image" %>
    </div>


    <div class="price-rating mb-2" style="display: flex; justify-content: space-between;" >
      <h2 class="price" style="font-size: 20px; color: #064125; margin-top: 10px; font-weight: bold">Price per day: <%= @car.price_day.to_i %>€</h2>
      <%= link_to "Book now", new_car_booking_path(@car), class:"btnprimary" %>
      <h2 class="rating" style="font-size: 20px; color: #064125; margin-top: 10px; font-weight: bold"> Rating: <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> </h2>
    </div>
<br>
    <div style="display: flex;">
      <p><%= @car.availability %></p>
      <p>Currently available</p>
    </div>


    <div class="car_description" >
      <p style="text-align: justify; margin-bottom: 80px"><%= @car.description %></p>
    </div>
  </div>

</div>





